:root {
   --table-color: forestgreen;
   --row-bg-color: honeydew;
   font-family: Calibri, Myriad;
}
   
/* Your solution goes here */

table{
   border: 2px solid var(--row-bg-color);
}

caption{
   color:white;
   padding-top:4px;
   padding-bottom:4px;
   background-color: var(--table-color);
}

table > tbody > tr:nth-child(even){
   background-color: var(--row-bg-color);
}

table > tbody >tr> td{
padding: 5px;
}